@model TestingLiftInfo.Web.ViewModels.Administration.Lifts.BigLiftViewModel

@{
    this.ViewData["Title"] = "Регистър";
}

<h3>@this.ViewData["Title"]</h3>

<div class="row">
    <form asp-area="Administration" asp-controller="Lifts" asp-action="Search" class="col-md-11" method="post">
        <input asp-for="SearchLiftViewModel.RegistrationNumber" type="text" class="form-control-sm text-center" placeholder="Търси по рег. №" size="25" />
        <input asp-for="SearchLiftViewModel.Manufacturer" type="text" class="form-control-sm text-center" placeholder="Търси по произодител" size="25" />
        <input asp-for="SearchLiftViewModel.City" type="text" class="form-control-sm text-center" placeholder="Търси по град или адрес" size="25" />
        <button type="submit" class="btn btn-outline-primary btn-sm"><b>Търси</b></button>
    </form>
    <div>
        <a style="float:right" class=" btn btn-success btn-sm" asp-area="Administration" asp-controller="Lifts" asp-action="Create">✙ Добави</a>
    </div>
</div>
<p></p>
<table class="table table-dark border border-light" style="font-weight:300">
    <thead>
        <tr>
            <th class="border border-light text-light" scope="col" style="text-align:center; width:30px">№</th>
            <th class="border border-light text-light" scope="col" style="text-align:center; width:80px">Рег. №</th>
            <th class="border border-light text-light" scope="col" style="text-align:center; width:60px">Тип</th>
            <th class="border border-light text-light" scope="col" style="text-align:center; width:60px">Спирки</th>
            <th class="border border-light text-light" scope="col" style="text-align:center; width:60px">Товароподемност</th>
            <th class="border border-light text-light" scope="col" style="text-align: center ; width:60px">Производител</th>
            <th class="border border-light text-light" scope="col" style="text-align: center">Адрес</th>
        </tr>
    </thead>
    <tbody>
        @{var count = 1;}

        @foreach (var item in Model.GetAllLiftViewModel.Lifts)
        {
            string color = "honeydew";

            if (count % 2 != 0)
            {
                color = "honeydew";
            }
            else
            {
                color = "lightblue";
            }

            <tr class=" text-dark border-light" style="background-color:@color">
                <td class="border border-light" style="text-align:center">@count</td>
                <td class="border border-light">
                    <a href="/Administration/Lifts/Detail/@item.Id" class="text-danger" style="text-align:center">@item.RegistrationNumber</a>
                </td>
                <td class="border border-light">@item.LiftType</td>
                <td class="border border-light" style="text-align:center">@item.NumberOfStops</td>
                <td class="border border-light" style="text-align:center">@item.Capacity</td>
                <td class="border border-light" style="text-align:center">@item.ManufacturerName</td>
                <td class="border border-light">гр. @item.CityName, @item.Address</td>
            </tr>

            count++;
        }
    </tbody>
</table>

