@using TestingLiftInfo.Common
@model TestingLiftInfo.Web.ViewModels.Administration.Lifts.BigLiftViewModel

@{
    this.ViewData["Title"] = "Регистър";
}

@if (@TempData["CreateLift"] != null)
{
    <div id="newLift" class="u-alert u-alert-success">@TempData["CreateLift"]</div>
}

<h2>@this.ViewData["Title"]</h2>

<div class="u-grid u-grid--col">
    <form asp-area="Administration" asp-controller="Lifts" asp-action="Search">
        <input asp-for="SearchLiftViewModel.RegistrationNumber" type="text" class="s-input-shadow u-text-center u-text-italic" placeholder="Търси по рег. №" />
        <input asp-for="SearchLiftViewModel.Manufacturer" type="text" class="s-input-shadow u-text-center u-text-italic" placeholder="Търси по произодител" size="25" />
        <input asp-for="SearchLiftViewModel.City" type="text" class="s-input-shadow u-text-center u-text-italic" placeholder="Търси по град или адрес" size="25" />
        <select asp-for="SearchLiftViewModel.IsDeleted" class="s-border s-input-shadow">
            <option value="false">✅ Активни</option>
            <option value="true">⛔ Неактивни</option>
        </select>
        <button type="submit" class="btn btn-deepskyblue"><i class="fas fa-search"></i> Търси</button>
    </form>
    <div>
        <a class="btn btn-add u-fload--right" asp-area="Administration" asp-controller="Lifts" asp-action="Create">✙ Добави</a>
    </div>
</div>
<table class="e-table u-text-bold--500 u-margin-top-and-bottom--20">
    <thead>
        <tr>
            <th class="e-table-border e-table-cell-width--40 u-text-center e-table-th--40" scope="col">№</th>
            <th class="e-table-border e-table-cell-width--60 u-text-center" scope="col">Статус</th>
            <th class="e-table-border e-table-cell-width--100 u-text-center" scope="col">Рег. №</th>
            <th class="e-table-border e-table-cell-width--100 u-text-center" scope="col" id="liftType">Тип</th>
            <th class="e-table-border e-table-cell-width--60 u-text-center" scope="col" id="liftNumberOfStops">Спирки</th>
            <th class="e-table-border e-table-cell-width--135 u-text-center" scope="col" id="liftCapacity">Товароподемност</th>
            <th class="e-table-border e-table-cell-width--120 u-text-center" scope="col" id="liftManufacturer">Производител</th>
            <th class="e-table-border u-text-center e-table-cell-width--500" scope="col" id="liftAddres">Адрес</th>
        </tr>
    </thead>
    <tbody>
        @{var page = GlobalConstants.NumberOfPrintLifts; }
        @{var count = (Model.GetAllLiftViewModel.CurrentPage - 1) * page + 1;}

        @foreach (var item in Model.GetAllLiftViewModel.Lifts)
        {
            string color = "honeydew";

            if (count % 2 != 0)
            {
                color = "honeydew";
            }
            else
            {
                color = "lightblue";
            }

            <tr style="background-color:@color">
                <td class="e-table-border u-text-center e-table-td--30">@count</td>

                @if (item.IsDeleted == false)
                {
                    <td class="e-table-border u-text-center" title="Активен">✅</td>
                }
                else
                {
                    <td class="e-table-border u-text-center" title="Неактивен">⛔</td>
                }

                <td class="e-table-border u-text-center">
                    <a href="/Administration/Lifts/Detail/@item.Id" class="u-text-danger u-anchor-decoration--none">@item.RegistrationNumber</a>
                </td>
                <td class="e-table-border u-text-center" id="liftType">@item.LiftType</td>
                <td class="e-table-border u-text-center" id="liftNumberOfStops">@item.NumberOfStops</td>
                <td class="e-table-border u-text-center" id="liftCapacity">@item.Capacity</td>
                <td class="e-table-border u-text-center" id="liftManufacturer">@item.ManufacturerName</td>
                <td class="e-table-border u-padding-left--5">гр. @item.CityName, @item.Address</td>
            </tr>

            count++;
        }
    </tbody>
</table>

<div class="u-grid u-grid--col">
    <nav>
        @{var currentPage = Model.GetAllLiftViewModel.CurrentPage; }
        @{var counterPage = Model.GetAllLiftViewModel.PagesCount; }
        <ul class="pagination  pagination-sm">
            @if (currentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Предишна</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="All" asp-route-page="(@currentPage - 1)">Предишна</a>
                </li>
            }

            @for (int i = 1; i <= counterPage; i++)
            {
                var active = i == currentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link" asp-action="All" asp-route-page="@i">@i</a>
                </li>
            }

            @if (currentPage == counterPage)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Следваща</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="All" asp-route-page="@(currentPage + 1)">Следваща</a>
                </li>
            }
        </ul>
    </nav>
    <div>
        <a style="float:right"><b>Общ брой: @Model.GetAllLiftViewModel.CountAllLifts</b></a>
    </div>
</div>

<script>
    setTimeout(function () {
        $('#newLift').hide('fade');
    }, 5000);
</script> 