@model TestingLiftInfo.Web.ViewModels.Administration.Lifts.LiftDetailViewModel

@{
    this.ViewData["Title"] = "Техническа характеристика";
}

<h3>@this.ViewData["Title"]</h3>

<div class="jumbotron border border-primary shadow-lg" style="background-color:#e4f6d4">
    <div class="row">
        <div class="col-md-5">
            <div style="margin-top:-60px">
                <h5>Асансьор с рег. № @Model.RegistrationNumber</h5>
            </div>
            <div>
                <label style="font-size:18px">Вид на асансьорът: </label>
                <a style="font-size:18px"><b>@Model.LiftType</b></a>
            </div>
            <div>
                <label style="font-size:18px">Брой спирки: </label>
                <a style="font-size:18px"><b>@Model.NumberOfStops</b></a>
            </div>
            <div>
                <label style="font-size:18px">Товароподемност: </label>
                <a style="font-size:18px"><b>@Model.Capacity кг.</b></a>
            </div>
            <div>
                <label style="font-size:18px">Тип врати: </label>
                <a style="font-size:18px"><b>@Model.DoorType</b></a>
            </div>
            <div>
                <label style="font-size:18px">Регистриран от: </label>
                <a style="font-size:18px"><b>@Model.ApplicationUserFirstName @Model.ApplicationUserLastName</b></a>
            </div>
            <div>
                <label style="font-size:18px">Производител: </label>
                <a style="font-size:18px"><b>@Model.ManufacturerName</b></a>
            </div>
            <div>
                <label style="font-size:18px">Производствен №: </label>
                <a style="font-size:18px"><b>@Model.ProductionNumber</b></a>
            </div>
            <div>
                <label style="font-size:18px">Адрес: </label>
                <a style="font-size:18px"><b>гр. @Model.CityName, @Model.Address</b></a>
            </div>
            <div>
                <label style="font-size:18px">Поддържаща фирма: </label>
                <a style="font-size:18px"><b>@Model.SupportCompanyName</b></a>
            </div>

            <div>
                <a class="btn btn-success" asp-area="Administration" asp-controller="Lifts" asp-action="All">Назад</a>
                <a class="btn btn-danger" asp-area="Administration" asp-controller="Inspects" asp-action="Create" asp-route-id="@Model.Id">Създай ревизионне акт</a>
            </div>
        </div>
        <div class="col-md-1" style="margin-top:-40px">
            <div class="card" style="width: 12rem; background-color:#d5f5b9">
                <div class="card-header text-center">
                    Ревизионни актове
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Inspects.OrderBy(x => x.CreatedOn))
                    {
                        <li class="list-group-item text-center" style="background-color:cornsilk">
                            <a href="/Administration/Inspects/Detail/@item.Id">@item.CreatedOn.ToShortDateString()</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
