@model TestingLiftInfo.Web.ViewModels.Administration.Lifts.LiftDetailViewModel

@{
    this.ViewData["Title"] = "Техническа характеристика";
}

<h3>@this.ViewData["Title"]</h3>

<div class="o-jumbotron s-border u-margin-bottom--20 s-primary-shadow">
    <h3 class="u-margin-bottom--20">Асансьор с рег. № @Model.RegistrationNumber</h3>
    <div class="u-grid u-grid--col u-grid-gap--5" id="detailBlock">
        <div>
            <div class="u-margin-bottom--10">
                <label>Статус: </label>
                @if (Model.IsDeleted == false)
                {
                    <a class="u-text-size--18"><b>Активен</b></a>
                }
                else
                {
                    <a class="u-text-size--18"><b>Неактивен</b></a>

                }
            </div>
            <div class="u-margin-bottom--10">
                <label>Регистриран на: </label>
                <a class="u-text-size--18 text-bold--800">@Model.CreatedOn.ToString("dd.MM.yyyy г.")</a>
            </div>
            @if (Model.DeletedOn != null)
            {
                <div class="u-margin-bottom--10">
                    <label>Свален от регистрация на: </label>
                    <a class="u-text-size--18 text-bold--800">@Model.DeletedOn.GetValueOrDefault().ToString("dd.MM.yyyy г.")</a>
                </div>
            }
            <div class="u-margin-bottom--10">
                <label>Вид на асансьорът: </label>
                <a class="u-text-size--18 text-bold--800">@Model.LiftType</a>
            </div>
            <div class="u-margin-bottom--10">
                <label>Брой спирки: </label>
                <a class="u-text-size--18 text-bold--800">@Model.NumberOfStops</a>
            </div>
            <div class="u-margin-bottom--10">
                <label>Товароподемност: </label>
                <a class="u-text-size--18 text-bold--800">@Model.Capacity кг.</a>
            </div>
            <div class="u-margin-bottom--10">
                <label>Тип врати: </label>
                <a class="u-text-size--18 text-bold--800">@Model.DoorType</a>
            </div>
            <div class="u-margin-bottom--10">
                <label>Регистриран от: </label>
                <a class="u-text-size--18 text-bold--800">@Model.ApplicationUserFirstName @Model.ApplicationUserLastName</a>
            </div>
            <div class="u-margin-bottom--10">
                <label>Производител: </label>
                <a class="u-text-size--18 text-bold--800">@Model.ManufacturerName</a>
            </div>
            <div class="u-margin-bottom--10">
                <label>Производствен №: </label>
                <a class="u-text-size--18 text-bold--800">@Model.ProductionNumber</a>
            </div>
            <div class="u-margin-bottom--10">
                <label>Адрес: </label>
                <a class="u-text-size--18 text-bold--800">гр. @Model.CityName, @Model.Address</a>
            </div>
            <div class="u-margin-bottom--20">
                <label>Поддържаща фирма: </label>
                <a class="u-text-size--18 text-bold--800">@Model.SupportCompanyName</a>
            </div>

            <div class="u-margin-bottom--20">
                <a class="btn btn-deepskyblue" id="detailBlock" asp-area="Administration" asp-controller="Lifts" asp-action="All"><i class="fas fa-arrow-circle-left"></i> Назад</a>
                @if (@Model.IsDeleted == false)
                {
                    <a class="btn btn-add"  id="detailBlock" asp-area="Administration" asp-controller="Inspects" asp-action="Create" asp-route-id="@Model.Id"><i class="fas fa-folder-plus"></i> Създай ревизионне акт</a>
                }
            </div>
            @if (@Model.IsDeleted == false)
            {
                <div class="u-margin-bottom--20">
                    <a class="btn btn-red" id="detailBlock" onclick="return submitResult();" asp-area="Administration" asp-controller="Lifts" asp-action="Delete" asp-route-id="@Model.Id"><i class="far fa-trash-alt"></i> Свали от регистрация</a>
                </div>
            }
        </div>
        <div>
            <div class="o-inspect-card">
                <div class="o-inspect-card--header u-text-center">
                    Ревизионни актове
                </div>
                <ul class="o-inspect-card--body">
                    @foreach (var item in Model.Inspects.OrderBy(x => x.CreatedOn))
                    {
                        <li class="u-text-center">
                            <a href="/Administration/Inspects/Detail/@item.Id">@item.CreatedOn.ToString("dd.MM.yyyy г.")</a>
                        </li>
                    }
                </ul>
            </div>
                <p class="u-text-size--16 u-text-bold--500 u-text-danger">Общ брой: @Model.Inspects.Count</p> 
        </div>
    </div>
</div>

<script>
    function submitResult() {
        if (confirm("Сигурни ли сте, че искате да свалите асансьорът от регистрация?") == false) {
            return false;
        } else {
            return true;
        }
    }
</script>
