@model TestingLiftInfo.Web.ViewModels.Administration.Lifts.GetSearchLiftsViewModel

@{
    this.ViewData["Title"] = "Намерени резултати";
}

<h2>@this.ViewData["Title"]</h2>


<div>
    <a class=" btn btn-deepskyblue u-fload--left" asp-area="Administration" asp-controller="Lifts" asp-action="All">Регистър</a>
</div>
<div>
    <a class=" btn btn-add u-fload--right" asp-area="Administration" asp-controller="Lifts" asp-action="Create">✙ Добави</a>
</div>

<table class="e-table u-text-bold--500 u-margin-top-and-bottom--20">
    <thead>
        <tr>
            <th class="e-table-border e-table-cell-width--40 u-text-center e-table-th--40" scope="col">№</th>
            <th class="e-table-border e-table-cell-width--60 u-text-center" scope="col">Статус</th>
            <th class="e-table-border e-table-cell-width--100 u-text-center" scope="col">Рег. №</th>
            <th class="e-table-border e-table-cell-width--100 u-text-center" scope="col" id="liftType">Тип</th>
            <th class="e-table-border e-table-cell-width--60 u-text-center" scope="col">Спирки</th>
            <th class="e-table-border e-table-cell-width--135 u-text-center" scope="col" id="liftCapacity">Товароподемност</th>
            <th class="e-table-border e-table-cell-width--120 u-text-center" scope="col" id="liftManufacturer">Производител</th>
            <th class="e-table-border u-text-center e-table-cell-width--500" scope="col" id="liftAddres">Адрес</th>
        </tr>
    </thead>
    <tbody>
        @{var count = 1;}

        @foreach (var item in Model.Lifts)
        {
            string color = "honeydew";

            if (count % 2 != 0)
            {
                color = "honeydew";
            }
            else
            {
                color = "lightblue";
            }

        <tr style="background-color:@color">
            <td class="e-table-border u-text-center e-table-td--30">@count</td>

            @if (item.IsDeleted == false)
            {
                <td class="e-table-border u-text-center" title="Активен">✅</td>
            }
            else
            {
                <td class="e-table-border u-text-center" title="Неактивен">⛔</td>
            }
            <td class="e-table-border u-text-center">
                <a href="/Administration/Lifts/Detail/@item.Id" class="u-text-danger u-anchor-decoration--none">@item.RegistrationNumber</a>
            </td>
            <td class="e-table-border u-text-center" id="liftType">@item.LiftType</td>
            <td class="e-table-border u-text-center">@item.NumberOfStops</td>
            <td class="e-table-border u-text-center" id="liftCapacity">@item.Capacity</td>
            <td class="e-table-border u-text-center" id="liftManufacturer">@item.ManufacturerName</td>
            <td class="e-table-border u-padding-left--5">гр. @item.CityName, @item.Address</td>
        </tr>

            count++;
        }
    </tbody>
</table>

