@using TestingLiftInfo.Common
@using TestingLiftInfo.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"]  @GlobalConstants.Logo</title>
    <script src="https://kit.fontawesome.com/da4b1de3cd.js" crossorigin="anonymous"></script>

    <environment names="Development">
        @*<link href="~/css/bootstrap-cyborg.css" rel="stylesheet" asp-append-version="true" />*@
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        @*<link href="~/css/bootstrap-cyborg.css" rel="stylesheet" asp-append-version="true" />*@
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="c-header o-row-container">
        <section class="o-row-container c-header--navigation">
            <div>
                <a class="c-header--brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.Logo</a>
            </div>
            <nav class="o-row-container u-hiden-element">
                <ul class="o-row-container c-header--ul-container">
                    <li>
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </nav>

            <div id="toggle" class="u-hiden-element">
                <div class="toggle-one"></div>
                <div class="toggle-two"></div>
                <div class="toggle-three"></div>
            </div>

            <nav class="o-mobile-nav u-hiden-element">
                <partial name="_LoginPartialMobile" />
            </nav>
        </section>
    </header>

    <section class="o-main-container">
        <partial name="_CookieConsentPartial" />
        <main role="main" style="display: block">
            @this.RenderBody()
        </main>
    </section>

    <footer class="o-row-container c-footer">
        <div class="o-row-container">
            <p class="c-footer--p">&copy; 2020-@DateTime.Now.Year - @GlobalConstants.Logo - <a class="c-footer--a" href="https://github.com/NeikoGrozev/TestingLiftInfo">Open source system</a></p>
        </div>
        <div class="o-row-container">
            <ul class="c-footer--ul-container o-row-container">
                <li class="c-footer--li">
                    <p class="c-footer--p">Полезни връзки:</p>
                </li>
                <li class="c-footer--li c-footer--dividing-line">
                    <a class="c-footer--a" href="https://www.damtn.government.bg/" title="Държавна агенция за метрологичен и технически надзор">ДАМТН</a>
                </li>
                <li class="c-footer--li c-footer--dividing-line">
                    <a class="c-footer--a" href="https://www.damtn.government.bg/za-nas/normativna-uredba/balgarsko-zakonodatelstvo/dejstvashto/zakoni/" title="Закони">ЗАКОНИ</a>
                </li>
                <li class="c-footer--li c-footer--dividing-line">
                    <a class="c-footer--a" href="https://www.damtn.government.bg/za-nas/normativna-uredba/balgarsko-zakonodatelstvo/dejstvashto/naredbi/" title="Наредби">НАРЕДБИ</a>
                </li>
                <li class="c-footer--li">
                    <a class="c-footer--a" href="https://www.damtn.government.bg/registri/" title="Регистри">РЕГИСТРИ</a>
                </li>
            </ul>
        </div>
        <div class="o-row-container">
            <a class="c-footer--a" asp-area="" asp-controller="Home" asp-action="Privacy">Политика за поверителност</a>
        </div>
    </footer>
 
    <script src="~/js/mainMenu.js"></script>
    <script src="~/js/mobileMenu.js"></script>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
