@model TestingLiftInfo.Web.ViewModels.Administration.Inspects.BiginspectViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<h3>Създаване на ревизионен акт</h3>
<div class="o-jumbotron s-border u-margin-bottom--20 s-primary-shadow" id="inspectCreate">
    <form asp-area="Administration" asp-controller="Inspects" asp-action="Create" method="post" onsubmit="return submitResult();">

        <div class="u-text-center">
            <p class="u-text-size--36">РЕВИЗИОННЕН АКТ</p>
        </div>
        @*<div class="u-text-center">
                <p>№ @(@Model.InspectInputDataViewModel.Lift.Inspects.Count() + 1)</p>
            </div>*@
        <div class="u-text-center u-margin-bottom--50">
            <p class="u-text-size--30 text-bold--800">Асансьор</p>
        </div>
        <div class="u-margin-bottom--20">
            <a class="u-text-size--20">Регистрационен №: <span class="text-bold--800">@Model.InspectInputDataViewModel.Lift.RegistrationNumber</span></a>
            <a class="u-text-size--20 u-margin-left--300" id="inspectCreate">Производствен №: <span class="text-bold--800">@Model.InspectInputDataViewModel.Lift.ProductionNumber</span></a>
        </div>
        <div class="u-margin-bottom--20">
            <label for="inspectTypes">Вид на прегледа: </label>
            <select asp-for="CreateInspectInputModel.InspectTypeId" id="inspectTypes">
                @foreach (var item in Model.InspectInputDataViewModel.InspectTypes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="u-margin-bottom--20">
            <label for="supportCompany">Поддържаща фирма: </label>
            <select asp-for="CreateInspectInputModel.SupportCompanyId" id="supportCompany">
                @foreach (var item in Model.InspectInputDataViewModel.SupportCompanies)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="u-margin-bottom--20">
            <label for="notes">Забележки: </label>
            <textarea asp-for="CreateInspectInputModel.Notes" type="text" id="notes"></textarea>
            <span asp-validation-for="CreateInspectInputModel.Notes" class="u-text-danger"></span>
            <p class="u-text-danger u-text-size--6 u-margin-left--20">*Полето със забележки, задължително трябва да бъде попълнено!!!</p>
        </div>
        <div class="u-margin-bottom--20">
            <label for="prescriptions">Предписания: </label>
            <textarea asp-for="CreateInspectInputModel.Prescriptions" type="text" id="prescriptions"></textarea>
            <span asp-validation-for="CreateInspectInputModel.Prescriptions" class="u-text-danger"></span>
            <p class="u-text-danger u-text-size--6 u-margin-left--20">*Полето със предписания, задължително трябва да бъде попълнено!!!</p>
        </div>
        <div>
            <input hidden asp-for="CreateInspectInputModel.LiftId" value="@Model.InspectInputDataViewModel.Lift.Id" />
        </div>
        <input asp-for="CreateInspectInputModel.RecaptchaValue" type="hidden" id="RecaptchaValue" />

        <button type="submit" class="btn btn-add">✙ Добави</button>
    </form>
</div>

@section Scripts
{
    <script>
        function submitResult() {
            if (confirm("Сигурни ли сте, че искате да създадете ревизионния акт?") == false) {
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'createInspect' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}
