@model TestingLiftInfo.Web.ViewModels.Administration.Inspects.BiginspectViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>


<h4>Създаване на ревизионен акт</h4>
<div class="jumbotron border border-primary shadow-lg" style="background-color:#e4f6d4">
    <form asp-area="Administration" asp-controller="Inspects" asp-action="Create" method="post" onsubmit="return submitResult();">

        <div class="text-center" style="margin-top:-60px">
            <p><font size="10">РЕВИЗИОННЕН АКТ</font></p>
        </div>
        @*<div class="text-center" style="margin-top:-35px">
                <p><font size="7">№ @(@Model.InspectInputDataViewModel.Lift.Inspects.Count() + 1)</font></p>
            </div>*@
        <div class="text-center" style="margin-top:-20px">
            <p><font size="6"><b>Асансьор</b></font></p>
        </div>
        <div>
            <div class="row">
                <a class="col-md-2"></a>
                <a class="col-md-5"><font size="5">Регистрационен №: <b>@Model.InspectInputDataViewModel.Lift.RegistrationNumber</b></font></a>
                <a class="col-md-4"><font size="5">Производствен №: <b>@Model.InspectInputDataViewModel.Lift.ProductionNumber</b></font></a>
            </div>
        </div>
        <div class="form-group" style="margin-top:20px">
            <label for="inspectTypes" style="font-size:18px">Вид на прегледа: </label>
            <select asp-for="CreateInspectViewModel.InspectTypeId" id="inspectTypes" class="form-control-sm border-dark">
                @foreach (var item in Model.InspectInputDataViewModel.InspectTypes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="supportCompany" style="font-size:18px">Поддържаща фирма: </label>
            <select asp-for="CreateInspectViewModel.SupportCompanyId" id="supportCompany" class="form-control-sm border-dark">
                @foreach (var item in Model.InspectInputDataViewModel.SupportCompanies)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="notes" style="font-size:18px">Забележки: </label>
            <textarea asp-for="CreateInspectViewModel.Notes" type="text" id="notes" class="form-control" rows="5"></textarea>
            <span asp-validation-for="CreateInspectViewModel.Notes" class="text-danger"></span>
            <p class="text-danger" style="margin-left:20px"><font size="3">*Полето със забележки, задължително трябва да бъде попълнено!!!</font></p>
        </div>
        <div class="form-group">
            <label for="prescriptions" style="font-size:18px">Предписания: </label>
            <textarea asp-for="CreateInspectViewModel.Prescriptions" type="text" id="prescriptions" class="form-control" rows="5"></textarea>
            <span asp-validation-for="CreateInspectViewModel.Prescriptions" class="text-danger"></span>
            <p class="text-danger" style="margin-left:20px"><font size="3">*Полето със предписания, задължително трябва да бъде попълнено!!!</font></p>
        </div>
        <div class="form-group">
            <input hidden asp-for="CreateInspectViewModel.LiftId" value="@Model.InspectInputDataViewModel.Lift.Id" />
        </div>
        <input asp-for="CreateInspectViewModel.RecaptchaValue" type="hidden" id="RecaptchaValue" />

        <button type="submit" class="btn btn-success" style="margin-bottom:-70px">✙ Добави</button>
    </form>
</div>

@section Scripts
{
    <script>
        function submitResult() {
            if (confirm("Сигурни ли сте, че искате да създадете ревизионния акт?") == false) {
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'createInspect' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}
