@model TestingLiftInfo.Web.ViewModels.Administration.Cities.GetAllCityViewModel

@{
    this.ViewData["Title"] = "Градове";
}

@if (@TempData["CreateCity"] != null)
{
    <div id="newCity" class="alert alert-dismissible alert-success">@TempData["CreateCity"]</div>
}

<h2>@this.ViewData["Title"]</h2>
<div class="u-grid">
    <div>
        <a class="btn btn-add u-fload--right" asp-area="Administration" asp-controller="Cities" asp-action="Create">✙ Добави</a>
    </div>

    <table class="e-table u-text-bold--500">
        <thead>
            <tr>
                <th class="e-table-border e-table-cell-width--30 e-table-th--40 u-text-center" scope="col">№</th>
                <th class="e-table-border e-table-cell-width--600" id="cityName" scope="col">Име</th>
                <th class="e-table-border u-text-center e-table-cell-width--120 u-text-size--6" scope="col">Брой асансьори</th>
            </tr>
        </thead>
        <tbody>
            @{var count = 1;}
            @foreach (var item in Model.Cities)
            {
                string color = "honeydew";

                if (count % 2 != 0)
                {
                    color = "honeydew";
                }
                else
                {
                    color = "lightblue";
                }

                <tr class="text-dark border-light" style="background-color:@color">
                    <td class="e-table-border e-table-td--30 u-text-center">@count</td>
                    <td class="e-table-border u-padding-left--10">@item.Name</td>
                    <td class="e-table-border u-text-center">@item.Lifts.Count()</td>

                </tr>

                count++;
            }
        </tbody>
    </table>
</div>


<script>
    setTimeout(function () {
        $('#newCity').hide('fade');
    }, 5000);
</script> 