@using TestingLiftInfo.Common
@model TestingLiftInfo.Web.ViewModels.Follows.AllFollowLiftsViewModel

<div class="u-text-center u-margin-top--10">
    <h2>Следените от Вас асансьори</h2>
</div>

<div class="u-flex u-flex-flow u-justify-content--center">
    @foreach (var item in Model.Lifts)
    {
        <div class="u-margin-top--50">
            <div class="o-card">
                <div class="o-card-body">
                    <a asp-area="" asp-controller="Follows" asp-action="Delete" asp-route-id="@item.Id" class="o-card-delete" onclick="return submitResult();"><i class="far fa-times-circle" title="Спри следенето"></i></a>
                    <h3 class="u-text-center u-margin-bottom--10 u-margin-top--20">Асансьор</h3>
                    <p class="o-card-title u-text-size--16"><b>Регистрационнен № @item.RegistrationNumber</b></p>
                    @{var inspect = item.Inspects.Select(x => x.CreatedOn).FirstOrDefault().AddYears(1); }
                    @if (inspect <= DateTime.UtcNow.AddYears(1) && inspect >= DateTime.UtcNow)
                    {
                        <h5 class="o-card-subtitle">Статус: <span class="u-text-family-comicSans u-text-italic">Има валиден преглед!</span></h5>
                        <h5 class="o-card-subtitle">Валиден до: <span class="u-text-family-comicSans u-text-italic">@inspect.ToString("dd.MM.yyyy г.")</span></h5>
                    }
                    else
                    {
                        <h5 class="o-card-subtitle">
                            Статус: <span class="u-text-family-comicSans u-text-danger">Няма валиден преглед!</span>
                        </h5>
                        @if (inspect >= DateTime.UtcNow.AddYears(-2))
                        {
                            <h5 class="o-card-subtitle">Валиден до: <span class="u-text-family-comicSans u-text-italic u-text-danger">@inspect.ToString("dd.MM.yyyy г.")</span></h5>
                        }
                    }
                    <p class="u-margin-top-and-bottom--10"><span class="text-bold--700">Адрес: </span><span class="u-text-italic">гр. @item.CityName, @item.Address</span></p>
                    <a class="o-card-link" asp-area="" asp-controller="Follows" asp-action="Details" asp-route-id="@item.Id">Повече информация...</a>
                </div>
            </div>
        </div>
    }
</div>


@if (Model.Lifts.Count < GlobalConstants.LimitFollowLifts)
{
    <div class="u-text-center u-margin-top-and-bottom--50">
        <a class="btn btn-deepskyblue" asp-area="" asp-controller="Follows" asp-action="Create">Последвай нов асансьор 😉</a>
    </div>
}

@section Scripts
{
    <script>
        function submitResult() {
            if (confirm("Сигурни ли сте, че искате да спрете да следвате този асансьор?") == false) {
                return false;
            } else {
                return true;
            }
        }
    </script>
}