@model TestingLiftInfo.Web.ViewModels.Follows.LiftDetailViewModels

@{
    this.ViewData["Title"] = "Допълнителна информация";
}

<h2>@this.ViewData["Title"]</h2>

<div class="o-jumbotron s-border u-margin-bottom--20 s-primary-shadow">
    <h3>Асансьор с рег. № @Model.RegistrationNumber</h3>
    <div class="u-grid u-grid--col u-grid-gap--5" id="detailBlock">
        <div class="u-margin-top-and-bottom--20">
            <div>
                <label class="u-text-size--18">Статус: </label>
                <a class="u-text-size--18 u-text-bold--800 u-text-italic">Активен</a>
            </div>
            <div>
                <label class="u-text-size--18">Вид на асансьорът: </label>
                <a class="u-text-size--18 u-text-bold--800 u-text-italic">@Model.LiftType</a>
            </div>
            <div>
                <label class="u-text-size--18">Брой спирки: </label>
                <a class="u-text-size--18 u-text-bold--800 u-text-italic">@Model.NumberOfStops</a>
            </div>
            <div>
                <label class="u-text-size--18">Производител: </label>
                <a class="u-text-size--18 u-text-bold--800 u-text-italic">@Model.ManufacturerName</a>
            </div>
            <div>
                <label class="u-text-size--18">Производствен №: </label>
                <a class="u-text-size--18 u-text-bold--800 u-text-italic">@Model.ProductionNumber</a>
            </div>
            <div>
                <label class="u-text-size--18">Адрес: </label>
                <a class="u-text-size--18 u-text-bold--800 u-text-italic">гр. @Model.CityName, @Model.Address</a>
            </div>
            <div>
                <label class="u-text-size--18">Поддържаща фирма: </label>
                <a class="u-text-size--18 u-text-bold--800 u-text-italic">@Model.SupportCompanyName</a>
            </div>


        </div>
        <div class="u-margin-top-and-bottom--20">
            <div class="o-inspect-card">
                <div class="o-inspect-card--header u-text-center">
                    Ревизионни актове
                </div>
                <ul class="o-inspect-card--body">
                    @if (Model.Inspects.Count > 0)
                    {
                        @foreach (var item in Model.Inspects.OrderBy(x => x.CreatedOn))
                        {
                            <li class="u-text-center">
                                <a href="/Follows/InspectDetails/@item.Id">@item.CreatedOn.ToString("dd.MM.yyyy г.")</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="u-text-center u-text-danger">Няма извършени прегледи на този асансьор!</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div>
        <a class="btn btn-back" asp-area="" asp-controller="Follows" asp-action="All"><i class="fas fa-arrow-circle-left"></i> Назад</a>
    </div>
</div>
